################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3ddungeon/3ddungeon.VC.VC.opendb
